@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');


html{
    color: grey;
}
body{
    font-family: 'Bree Serif', serif;
}


#header{
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 10px;
   background: green; 
   box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
   position: sticky;
   top: 0;
   left:0;
   
   
}
.logo{
    width: 200px;
    padding-left: 20px;
}

#navbar{
    display: flex;
    align-items: center;
    padding-right: 80px;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding-right: 20px;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.3s;
}
.cartt{
    font-size: 12px;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(204, 0, 0);
}

#hero{
    background-image: url(img/background2.jpg);
    height: 90vh;
    width: 91.%;
    background-position: 99% 50%;
    background-size: cover;
    background-position: top 25% right 0;
    padding-left: 50px;
    padding-top: 100px;
    padding-top: px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}
#hero h4{
    padding-bottom: 2px;
}
#hero h1{
    color: green;
    font-size: 50px;
}
#hero button{
   
    background-color: green; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.3s;


}
#hero button:hover{
    background-color:rgb(204, 0, 0);
    
}
#hero button:active{
    
    background-color: rgb(122, 2, 2);
    box-shadow: 0 5px #666;
  transform: translateY(4px);

}


#hero p{
    width: 400px
    
}
#footer {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer p{
    text-wrap: nowrap;
}
.bannerSpacing{
    margin: 40px 0;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#banner p{
    text-align: center;
}
#banner h4{
    text-align: center;
}