html{
    color: grey;
}


body{
    text-align: center;
    color: grey;
}
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

h1 {
    text-align: center;
    
}

 /* CSS pro stylizaci seznamu odkazů */
 .seznam-odkazu {
    list-style-type: none; /* Skryje výchozí odrážky seznamu */
    padding: 0; /* Odstraní výchozí odsazení */
}

.seznam-odkazu li {
    display: inline; /* Odkazy na jednom řádku */
    margin-right: 10px; /* Odsazení mezi odkazy */
}

